@charset "UTF-8";

html {
    font-size: 100%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(69, 37, 0);
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}
.wrapper900 {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
a {
    text-decoration: none;
    color: rgb(69, 37, 0);
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
h1 {
    margin-bottom: 40px;
    font-size: 3rem;
}
h2 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 2rem;
}
h3 {
    font-size: 1.3rem;
}
.padding_top90 {
    padding-top: 90px;
}

/***********************************************
ヘッダー
header
***********************************************/
header .header_title a {
    display: flex;
    align-items: center;
}
header .header_title a img {
    width: 70px;
}
header .header_title a .icon_title {
    font-size: 2rem;
    margin-left: 10px;
}
header ul {
    display: flex;
    align-items: center;
}
header ul li {
    font-size: 1.4rem;
    margin-right: 40px;
}
header ul li:last-child {
    margin-right: 0;
}
header ul li img {
    width: 50px;
}
header ul li a:hover {
    color:rgb(203, 112, 8);
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: white;
    box-sizing: border-box;
    padding: 10px 0 0;
}

/*****************************************
メインビジュアル
#mainvisual
*****************************************/
#mainvisual {
    margin-top: 90px;
}
#mainvisual img {
    width: 100%;
}

/******************************************
メニュー
#menue
******************************************/
#menue {
    font-weight: bold;
}
#menue .menue_grid {
    display: grid;
    gap: 90px;
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    margin-bottom: 50px;
}
#menue .menue_grid .menue_beans {
    text-align: left;
}
#menue .menue_grid .menue_beans img {
    width: 505px;
    height: 336px;
    object-fit: cover;
}
#menue .menue_grid .menue_beans .menue_beans_contents {
    padding: 20px;
}
#menue .menue_grid .menue_beans .menue_beans_contents h3 {
    margin-bottom: 10px;
}
#menue .menue_grid .menue_beans .menue_beans_contents .beans_content {
    display: flex;
}
#menue .menue_grid .menue_beans .menue_beans_contents .beans_content p {
    margin: 5px 0 5px 10px;
}
.circle1 {
    width: 60px;
    height: 25px;
    background-color: rgb(69, 37, 0);
    border-radius: 30px;
}
.circle2 {
    width: 120px;
    height: 25px;
    background-color: rgb(69, 37, 0);
    border-radius: 30px;
}
.circle3 {
    width: 180px;
    height: 25px;
    background-color: rgb(69, 37, 0);
    border-radius: 30px;
}
.circle4 {
    width: 240px;
    height: 25px;
    background-color: rgb(69, 37, 0);
    border-radius: 30px;
}
.circle5 {
    width: 300px;
    height: 25px;
    background-color: rgb(69, 37, 0);
    border-radius: 30px;
}
.carton {
    text-align: center;
}
.carton span {
    background-color: rgb(203, 112, 8);
    color:white;
    padding: 10px 70px;
    border-radius: 10px;
}
.carton span:hover {
    background-color: rgb(69, 37, 0);
}

/*****************************************
ニュース
#news
*****************************************/
#news dl {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
#news dl dt {
    width: 30%;
    font-size: 2rem;
}
#news dl dd {
    width: 70%;
    font-size: 2rem;

}
#news dl dt, #news dl dd {
    margin-bottom: 30px;
    border-bottom:rgb(203, 112, 8) 1.5px solid;
}
#news {
    margin-bottom: 90px;;
}

/*******************************************
お問い合わせ
#contact
*******************************************/

.sad_contact {
    background-image: url("img/contact_background.jpg");
    background-repeat: repeat;
}
#contact {
    background-color: rgba(255, 255, 255, 0.6);
}
/*
#contact {
    background-image: url("img/contact_background.jpg");
}
#contact .wrapper900 {
    background-color: rgba(255, 255, 255, 0.5);
}
*/
#contact .wrapper900 form dl {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
#contact .wrapper900 form dl dt {
    width: 30%;
    font-size: 1.5rem;
}
#contact .wrapper900 form dl dd {
    width: 70%;
}
#contact .wrapper900 form dl dd input {
    width: 50%;
    padding-bottom:20px;
}
#contact .wrapper900 form dl dt, #contact .wrapper900 form dl dd {
    margin-bottom: 30px;
}
#contact .wrapper900 form dl dd textarea {
    width: 100%;
    padding-bottom:200px;
}
.button input {
    background-color: rgb(69, 37, 0);
    color:white;
    padding: 15px 80px;
    border-radius: 10px;
    font-size: 1.2rem;
}
.button input:hover {
    background-color: rgb(203, 112, 8);
}
#contact .wrapper900 {
    padding-bottom: 90px;
}

/***********************************************
フッター
footer
************************************************/
footer {
    padding: 40px 0 40px 0;;
    background-color: rgb(69, 37, 0);
    text-align: center;
}
footer p small {
    color: white;
}

/*******************************************
メディアクエリ
480以下
*******************************************/
@media screen and (max-width: 580px) {
    /*
    all
    */
    body {
        font-size: 0.9rem;
        text-align: center;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    img {
        width: 100%;
    }
    .padding_top90 {
        padding-top: 120px;
    }
    /*
    header
    */
    
    header .wrapper  {
        display: block;
    }
    header .header_title a img {
        width: 50px;
    }
    header .header_title a .icon_title {
        font-size: 1.6rem;
    }
    header .header_title a {
        justify-content: center;
    }
    header ul {
        justify-content: center;
    }
    header ul li {
        font-size: 1.1rem;
    }
    header ul li img {
        width: 30px;
    }
    header {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 110px;
        background-color: white;
        box-sizing: border-box;
        padding: 10px 0 0;
    }
    /*
    mainvisual
    */
    #mainvisual {
        margin-top: 120px;
    }
    /*
    menue
    */
    #menue {
        padding: 0 10px;
    }
    #menue .menue_grid {
        display: block;
    }
    #menue .menue_grid .menue_beans {
        margin-bottom: 40px;
    }
    /*
    news
    */
    #news {
        padding: 0 10px;
    }
    #news dl dt {
        font-size: 1.2rem;
    }
    #news dl dd {
        font-size: 1.2rem;
    }
    /*
    contact
    */
    #contact {
        padding: 0 10px;
    }
    #contact .wrapper900 form dl dt label {
        font-size: 1.1rem;
    }

    #contact .wrapper900 form dl dt {
        width: 100%;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    #contact .wrapper900 form dl dd {
        width: 100%;
    }
    #contact .wrapper900 form dl dd input {
        width: 100%;
        padding-bottom:20px;
    }
}

/*
#contact .wrapper900 form dl {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
#contact .wrapper900 form dl dt {
    width: 30%;
    font-size: 1.5rem;
}
#contact .wrapper900 form dl dd {
    width: 70%;
}
#contact .wrapper900 form dl dd input {
    width: 50%;
    padding-bottom:20px;
}
#contact .wrapper900 form dl dt, #contact .wrapper900 form dl dd {
    margin-bottom: 30px;
}
#contact .wrapper900 form dl dd textarea {
    width: 100%;
    padding-bottom:200px;
}
.button input {
    background-color: rgb(69, 37, 0);
    color:white;
    padding: 15px 80px;
    border-radius: 10px;
    font-size: 1.2rem;
}
#contact .wrapper900 {
    padding-bottom: 90px;
}
*/